.gcloudignore
.git
.gitignore
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.venv
pip-wheel-metadata/
.pytest_cache/
.coverage
htmlcov/
.nox/
.hypothesis/
.cache/
.antigravity/
.gemini/
